.idea
lab2/lab2_7_1-5/express-app/node_modules
lab2/lab2_7_1-5/express-app/client_secret_580662669112-iren20altk7r3rfmreiuclt8om4bagsk.apps.googleusercontent.com.json
lab2/lab2_7_6/express-app/node_modules
lab2/lab2_7_6/express-app/client_secret_580662669112-iren20altk7r3rfmreiuclt8om4bagsk.apps.googleusercontent.com.json
